
body{
    background: #474747;
}

/*
nav{
    background: #581746;
}

*/

li a.sos{
    animation: blink 1s linear;
    animation-iteration-count: infinite;
}

#sos{
    animation: blink 1s linear;
    animation-iteration-count: infinite;
}

@keyframes blink{
    0%{
        color: #c8003a;
    }


    50%{
        color: #ffc301;
    }

    100%{
        color: #c8003a;
    }
}

section#q1{
    border: 20px solid #910b3f;
    background: #fff;
}

section#q2{
    border: 20px solid #c8003a;
    background: #fff;
}


section#q3{
    border: 20px solid #ff5634;
    background: #fff;
}


section#q4{
    border: 20px solid #581746;
    background: #fff;
}

section#q5{
    border: 20px solid #ffc301;
    background: #fff;
}


section#q6{
    border: 20px solid #910b3f;
    background: #fff;
}


.cover{
    position: absolute;
    top:-20px;
    left:-20px;
    width: 400px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

#cover1{
    background: #910b3f url('images/bell.png')no-repeat center;
    background-size: 60%;
}

#cover2{
    background: #c8003a url('images/quiz.png')no-repeat center;
    background-size: 60%;
}

#cover3{
    background: #ff5634 url('images/calendar-clock.png')no-repeat center;
    background-size: 60%;
}

#cover4{
    background: #581746 url('images/student-making-a-question-in-class.png')no-repeat center;
    background-size: 60%;
}

#cover5{
    background: #ffc301 url('images/open-class-door_mid.png')no-repeat center;
    background-size: 60%;
}

#cover6{
    background: #910b3f url('images/student-sleeping-in-class.png')no-repeat center;
    background-size: 60%;
}

@keyframes cover{
    0%{
        opacity: 1;
    }

    25%{
        opacity: 0.75;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        z-index: -1;
    }
}

#form:target #cover1{
    animation: cover 1.5s linear;
    animation-fill-mode: forwards;
}

#form:target #cover2{
    animation: cover 1.5s linear 1s;
    animation-fill-mode: forwards;
}

#form:target #cover3{
    animation: cover 1.5s linear 2s;
    animation-fill-mode: forwards;
}

#form:target #cover4{
    animation: cover 1.5s linear 3s;
    animation-fill-mode: forwards;
}

#form:target #cover5{
    animation: cover 1.5s linear 4s;
    animation-fill-mode: forwards;
}

#form:target #cover6{
    animation: cover 1s linear 5s;
    animation-fill-mode: forwards;
}


@keyframes hide{
    0%{
        top: -60px;
        z-index: -5;
    }

    25%{
        top: -40px;
        opacity: 0.5;
    }

    50%{
        top: -20px;
        opacity: 0;
    }

    100%{
        top: 0px;
        opacity: 0;
    }
}

#form:target a.start{
    animation: hide 2.5s linear ;
    animation-fill-mode: forwards;
}



