div.questions{
    display: flex;
    flex-wrap: wrap;
}

section.question{
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

label{
    display: block;
}

input[type="radio"], label > p{
    display: inline-block;
}

label > p{
    max-width: 300px;
}

#test-result{
    background: yellow;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
}


#result{
    font-size: 30px;
    color: blue;
}
