@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');

/*---------General styling-----------------*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    background: #474747;
}

body{
    font: 14px 'Roboto', sans-serif;
}

header{
    height: 600px;
    background: url('images/student-stress.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}


button, a{
    font-family: 'Kurale', sans-serif;
}

li{
    line-height: 30px;
    padding: 10px 30px;
    list-style-type: none;
}

li a{
    font-size: 1.7em;
    color:#ffc301;
    text-decoration: none;
    text-transform: uppercase;
}

/*---------Styling the header-----------------*/
/*---------Styling the navigation bar-----------------*/

a#menu-icon{
    font-size: 1.7em;
    color:#fff;
    letter-spacing: 1px;
    padding: 10px;
    display: none;
}

ul.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 10px;
}

li a.sos{
    color: #c8003a;
    font-weight: bold;
}

li.nav#tests{
    position: relative;
}

ul#more-tests{
    display: none;
    position: absolute;
    top: 40px;
    left: -10px;
    z-index: 25;
}

ul#more-tests li{
    border-bottom: 2px solid #c8003a;
    padding: 5px 20px 5px 0;
    text-align: right;
}

ul#more-tests li:first-of-type{
    border-top: 2px solid #c8003a;
}

li.nav#tests:hover ul#more-tests{
    display: block;
    cursor: pointer;
}

ul#more-tests li a{
    font-size: 1.2em;
}

/*---------Styling the header buttons-----------------*/

div.header-buttons{
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 0;
    color: #fff;
    font-size: 1.5em;
}

div.header-buttons ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

div.header-buttons span{
    color: #fff;
    font-size: 1.2em;
}

div.header-buttons .sos-span{
    font-size: 1.4em;
    font-weight: bold;
}

ul.header-buttons a{
    font-size: 1em;
    padding: 10px 20px;
    color: #ffc301;
    font-weight: bold;
    background: #581746;
    display: inline-block;
    letter-spacing: 0.5px;
}


ul.header-buttons a#sos{
    background: #c8003a;
    font-size: 1.5em;
    margin: 10px;
    margin-right: 0;
}

/*---------Styling the main-----------------*/
/*--------Styling the sections in the test--------------*/

form#form{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}


div.questions{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

section.question{
    position: relative;
    width: 400px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

.cover{
    position: absolute;
    top:-20px;
    left:-20px;
    width: 400px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

a.start{
    color: #ffc301;
    background: #910b3f;
    padding: 5px 20px;
    position: absolute;
    top: -70px;
    left: 20px;
    z-index: 20;
    font-size: 30px;
    text-decoration: none;
}

section.question p{
    margin-left: 10px;
    font-size: 1.4em;
}

section.question > p{
    font-weight: bold;
}

label{
    display: block;
    margin: 10px 0;
}

input[type="radio"], label > p{
    display: inline-block;
    vertical-align: center;
    height: 18px;
}

label > p{
    max-width: 280px;
}

/*---------Styling the form action buttons-----------------*/

div.form-buttons{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#reset, #answer, #sos2{
    max-width: 300px;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 30px;
}

#reset{
    color: #910b3f;
    background: none;
}

#reset:hover{
    color: #ffc301;
    border: none;
    cursor: pointer;
}

#answer{
    background:#581746;
    color: #ffc301;
    border: 2px solid #581746;
}


#answer:hover{
    border: 2px solid #ffc301;
    cursor: pointer;
}

#sos2{
    color: #ffc301;
    background:#910b3f;
    border: 2px solid #910b3f;
    text-decoration: none;
}

#sos2:hover{
    text-decoration: underline #ffc301;
}

/*---------Styling the results-----------------*/

#test-result{
    display: block;
    margin: 0 auto;
    max-width: calc(90vw - 40px);
    background: #fff;
}

#result{
    font: 30px 'Kurale', sans-serif;
    color: #000;
    text-align: center;
}

#result:first-letter{
    font-size: 50px;
    color: #910b3f;
}

/*---------Styling the footer-----------------*/

footer{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    background: #581746;
    opacity: 0.5;
    color: #ff5634;
}


div#logos{
    margin: 10px;
    letter-spacing: 0.5px;
}


div#logos p{
    display: block;
}

p#mylogo{
    font-size: 20px;
}


p#mylogo > span{
    margin-left: 5px;
    font-size: 30px;
}

div#credits{
    margin: 10px 20px 0 20px ;
    letter-spacing: 0.5px;
}

div#credits > p{
    font-weight: bold;
    font-size: 18px;
}

div#credits ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 200px;
}

div#credits li{
    line-height: 10px;
    text-align: left;
    margin-top: 5px;
}

footer a{
    font: 14px 'Roboto', sans-serif;
    text-transform: lowercase;
}

footer a:hover{
    cursor: pointer;
}
